In [ ]:
#s = df['species']
#s.cat.categories
#s = s.cat.rename_categories([0, 1, 2])

In [ ]:
#concat(), reindex(), merge()
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

people = {'first': ['Mahfuz', "Arif", "Jone"],
          'last': ['Rahman', 'Haque', 'Doe'],
          'email': ['MahfuzRahman@gmail.com', 'ArifHaque@gmail.com', 'JoneDoe@gmail.com'],
          'age': [10,20, 30],
          'salary' : [40,50,60]
          }
        
people=pd.DataFrame(people)
tdf=pd.read_csv('https://github.com/CoreyMSchafer/code_snippets/raw/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv')
tdf1=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas demo/Temperature.csv')

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas demo/survey_results_public.csv', index_col='Respondent')
sdf=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas demo/survey_results_schema.csv', index_col='Column')
air=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/pandas demo/no2_long.xlsx', parse_dates=['date.utc'])

In [ ]:
pd.set_option("display.max_colwidth", 10000) 
sdf.head()

                                                                                                                QuestionText
Column
Respondent                                            Randomized respondent ID number (not in order of survey response time)
MainBranch  Which of the following options best describes you today? Here, by "developer" we mean "someone who writes code."
Hobbyist                                                                                             Do you code as a hobby?
Age                             What is your age (in years)? If you prefer not to answer, you may leave this question blank.
Age1stCode       At what age did you write your first line of code or program? (e.g., webpage, Hello World, Scratch project)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = df.append({'first':'Mozibul','last':'Islam'},ignore_index=True) #add rows & also new dataframe

In [ ]:
df.drop(index=1).head()

                                                 MainBranch Hobbyist  ...  first last
0                            I am a developer by profession      Yes  ...    NaN  NaN
2                               I code primarily as a hobby      Yes  ...    NaN  NaN
3                            I am a developer by profession      Yes  ...    NaN  NaN
4  I used to be a developer by profession, but no longer am      Yes  ...    NaN  NaN
5                            I am a developer by profession       No  ...    NaN  NaN

[5 rows x 62 columns]

In [ ]:
flt = df['last']=='Islam'
df.drop(index=df[flt].index).head()

                                                 MainBranch Hobbyist  ...  first last
0                            I am a developer by profession      Yes  ...    NaN  NaN
1                            I am a developer by profession       No  ...    NaN  NaN
2                               I code primarily as a hobby      Yes  ...    NaN  NaN
3                            I am a developer by profession      Yes  ...    NaN  NaN
4  I used to be a developer by profession, but no longer am      Yes  ...    NaN  NaN

[5 rows x 62 columns]

In [ ]:
df['ConvertedComp'].nlargest(3)
df.nlargest(3,['ConvertedComp', 'WorkWeekHrs'])

                           MainBranch Hobbyist  ...  first last
45753  I am a developer by profession      Yes  ...    NaN  NaN
50988  I am a developer by profession      Yes  ...    NaN  NaN
4522   I am a developer by profession      Yes  ...    NaN  NaN

[3 rows x 62 columns]

In [ ]:
df['CurrencySymbol'] = df['CurrencySymbol'].astype('category')

In [ ]:
tdf['Date'] = pd.to_datetime(tdf['Date'], format='%Y-%m-%d %I-%p')
tdf1['Date'] = pd.to_datetime(tdf1['Date'], format='%d/%m/%Y')
tdf.loc[0, 'Date'].day_name()

'Friday'

In [ ]:
tdf['DateOfWeek'] = tdf['Date'].dt.day_name()
tdf1['Date'].max()-tdf1['Date'].min()

Timedelta('13526 days 00:00:00')

In [ ]:
air.rename(columns={'date.utc': 'date'}, inplace=True)

In [ ]:
df.dropna()
df.groupby('Country').describe().head()

              Age                              ... WorkWeekHrs
            count       mean        std   min  ...         25%   50%    75%    max
Country                                        ...
Afghanistan  22.0  23.545455   4.055887  15.0  ...        40.0  46.5   51.0  100.0
Albania      30.0  26.766667   6.095127  16.0  ...        40.0  40.0   50.0  168.0
Algeria      51.0  28.019608  11.710662  15.0  ...        33.0  40.0   40.0   70.0
Andorra       3.0  39.000000  10.816654  30.0  ...        38.0  40.0   45.0   50.0
Angola        3.0  40.000000  25.357445  22.0  ...        24.5  40.0  104.0  168.0

[5 rows x 32 columns]

In [ ]:
tdf1.head()

        Date  Temperature
0 1980-01-01          7.5
1 1980-01-02          9.0
2 1980-01-03         15.0
3 1980-01-04         20.0
4 1980-01-05         19.2

In [ ]:
air.tail()

        city country                      date  ... parameter value   unit
2063  London      GB 2019-05-07 06:00:00+00:00  ...       no2  26.0  µg/m³
2064  London      GB 2019-05-07 04:00:00+00:00  ...       no2  16.0  µg/m³
2065  London      GB 2019-05-07 03:00:00+00:00  ...       no2  19.0  µg/m³
2066  London      GB 2019-05-07 02:00:00+00:00  ...       no2  19.0  µg/m³
2067  London      GB 2019-05-07 01:00:00+00:00  ...       no2  23.0  µg/m³

[5 rows x 7 columns]

In [ ]:
air1=air.pivot(index='date', columns='location', values='value')
air1.head()

location                   BETR801  FR04014  London Westminster
date
2019-05-07 01:00:00+00:00     50.5     25.0                23.0
2019-05-07 02:00:00+00:00     45.0     27.7                19.0
2019-05-07 03:00:00+00:00      NaN     50.4                19.0
2019-05-07 04:00:00+00:00      NaN     61.9                16.0
2019-05-07 05:00:00+00:00      NaN     72.4                 NaN

In [ ]:
air1.index.year, air1.index.weekday, air1.index.month_name()

(Int64Index([2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019,
             ...
             2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019],
            dtype='int64', name='date', length=1033),
 Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
             ...
             3, 3, 3, 3, 3, 3, 3, 3, 3, 4],
            dtype='int64', name='date', length=1033),
 Index(['May', 'May', 'May', 'May', 'May', 'May', 'May', 'May', 'May', 'May',
        ...
        'June', 'June', 'June', 'June', 'June', 'June', 'June', 'June', 'June',
        'June'],
       dtype='object', name='date', length=1033))

In [ ]:
air.groupby(by=[air['date'].dt.month, 'location'])['value'].max()

date  location
5     BETR801               74.5
      FR04014               97.0
      London Westminster    97.0
6     BETR801               52.5
      FR04014               84.7
      London Westminster    52.0
Name: value, dtype: float64

In [ ]:
air1.resample('M').max()

location                   BETR801  FR04014  London Westminster
date
2019-05-31 00:00:00+00:00     74.5     97.0                97.0
2019-06-30 00:00:00+00:00     52.5     84.7                52.0

In [ ]:
titanic=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/pandas demo/Titanic.xlsx')

In [ ]:
titanic.columns = titanic.columns.str.lower()
titanic.head()

   passengerid  survived  pclass  ...     fare cabin  embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
titanic['first name']=titanic['name'].str.split(',').str.get(0)
titanic.pivot(index='passengerid', columns='pclass', values='survived').mean()

pclass
1    0.629630
2    0.472826
3    0.242363
dtype: float64

In [ ]:
x=titanic['name'].str.len()<20
titanic.loc[x]

     passengerid  survived  pclass  ... cabin embarked  first name
5              6         0       3  ...   NaN        Q       Moran
29            30         0       3  ...   NaN        S    Todoroff
36            37         1       3  ...   NaN        C       Mamee
42            43         0       3  ...   NaN        C      Kraeff
46            47         0       3  ...   NaN        Q      Lennon
..           ...       ...     ...  ...   ...      ...         ...
859          860         0       3  ...   NaN        C        Razi
870          871         0       3  ...   NaN        S      Balkic
878          879         0       3  ...   NaN        S      Laleff
881          882         0       3  ...   NaN        S      Markun
890          891         0       3  ...   NaN        Q      Dooley

[204 rows x 13 columns]

**User Guide Start**

In [ ]:
tdf=pd.read_csv('https://github.com/CoreyMSchafer/code_snippets/raw/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv')
temp=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas demo/Temperature.csv')
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas demo/survey_results_public.csv', index_col='Respondent') #usecols=["ConvertedComp",'Age']
sdf=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas demo/survey_results_schema.csv', index_col='Column')
air=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/pandas demo/no2_long.xlsx', parse_dates=['date.utc'])
titanic=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/pandas demo/Titanic.xlsx')
apple=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas demo/apple.csv', parse_dates=['Date'],index_col='Date')
apple.columns = apple.columns.str.lower()

In [ ]:
df.head()
df.dropna(inplace=True)
x=df['DatabaseDesireNextYear'].str.contains('Microsoft SQL Server')
x=df.loc[x]
x.shape

(1314, 60)

In [ ]:
y=df['DatabaseDesireNextYear'].isin(['Microsoft SQL Server'])
y=df.loc[y]
y.shape

(228, 60)

In [ ]:
temp.apply(np.cumsum).head()

                                       Date  Temperature
0                                  1/1/1980          7.5
1                          1/1/19802/1/1980         16.5
2                  1/1/19802/1/19803/1/1980         31.5
3          1/1/19802/1/19803/1/19804/1/1980         51.5
4  1/1/19802/1/19803/1/19804/1/19805/1/1980         70.7

In [ ]:
temp['Date']=pd.to_datetime(temp['Date'])
temp.set_index('Date')

            Temperature
Date
1980-01-01          7.5
1980-02-01          9.0
1980-03-01         15.0
1980-04-01         20.0
1980-05-01         19.2
...                 ...
2017-08-01         25.2
2017-09-01         24.0
2017-10-01         18.3
2017-11-01         14.2
2017-12-01         13.0

[456 rows x 1 columns]

In [ ]:
temp.resample('Y', on='Date').max()

                 Date  Temperature
Date
1980-12-31 1980-12-01         25.0
1981-12-31 1981-12-01         24.2
1982-12-31 1982-12-01         24.5
1983-12-31 1983-12-01         24.5
1984-12-31 1984-12-01         23.8
1985-12-31 1985-12-01         24.5
1986-12-31 1986-12-01         23.4
1987-12-31 1987-12-01         24.0
1988-12-31 1988-12-01         24.4
1989-12-31 1989-12-01         24.0
1990-12-31 1990-12-01         24.5
1991-12-31 1991-12-01         24.0
1992-12-31 1992-12-01         24.0
1993-12-31 1993-12-01         23.6
1994-12-31 1994-12-01         24.2
1995-12-31 1995-12-01         24.0
1996-12-31 1996-12-01         23.3
1997-12-31 1997-12-01         24.0
1998-12-31 1998-12-01         23.4
1999-12-31 1999-12-01         23.6
2000-12-31 2000-12-01         24.0
2001-12-31 2001-12-01         25.0
2002-12-31 2002-12-01         25.0
2003-12-31 2003-12-01         25.4
2004-12-31 2004-12-01         24.6
2005-12-31 2005-12-01         24.6
2006-12-31 2006-12-01         24.8
2007-12-31 2007-12-01         25.4
2008-12-31 2008-12-01         24.8
2009-12-31 2009-12-01         24.8
2010-12-31 2010-12-01         25.2
2011-12-31 2011-12-01         24.5
2012-12-31 2012-12-01         25.6
2013-12-31 2013-12-01         25.0
2014-12-31 2014-12-01         25.0
2015-12-31 2015-12-01         24.6
2016-12-31 2016-12-01         24.5
2017-12-31 2017-12-01         25.2

In [ ]:
apple.dropna(inplace=True)
apple.head()

           close/last    volume     open     high      low
Date
2021-08-31    $151.83  86453120  $152.66   $152.8  $151.29
2021-08-30    $153.12  90956720     $149  $153.49  $148.61
2021-08-27     $148.6  55802390  $147.48  $148.75  $146.83
2021-08-26    $147.54  48597200  $148.35  $149.12  $147.51
2021-08-25    $148.36  58991300  $149.81  $150.32   $147.8

In [ ]:
apple[['close/last','open','high','low']]=apple[['close/last','open','high','low']].apply(lambda x: x.astype('string').str.replace('$','').astype('float'))

In [ ]:
apple['close/last'].resample('Y').mean()

Date
2011-12-31     13.995260
2012-12-31     20.573217
2013-12-31     16.879819
2014-12-31     23.066148
2015-12-31     30.009965
2016-12-31     26.151002
2017-12-31     37.637764
2018-12-31     47.263357
2019-12-31     52.063983
2020-12-31     95.346759
2021-12-31    133.535988
Freq: A-DEC, Name: close/last, dtype: float64

In [ ]:
from pandas.tseries.holiday import Holiday, USMemorialDay, AbstractHolidayCalendar, nearest_workday
from pandas.tseries.offsets import CustomBusinessDay
class mybd(AbstractHolidayCalendar):
    rule =[Holiday('mybd', month=8, day=26)]
cal=CustomBusinessDay(calendar=mybd())

In [ ]:
cal_for_bd = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu', holidays=['2021-08-26'])

In [ ]:
x=pd.date_range(start='25/08/2021 20:00:00', periods=12, freq=cal_for_bd)
x=pd.Series(np.random.randn(len(x)), x)

In [ ]:
x.tz_localize('UTC').head()

2021-08-25 20:00:00+00:00    0.435600
2021-08-29 20:00:00+00:00   -0.145068
2021-08-30 20:00:00+00:00    1.765157
2021-08-31 20:00:00+00:00    0.493054
2021-09-01 20:00:00+00:00   -0.355314
Freq: C, dtype: float64

In [ ]:
m=temp['Date']
m=m.dt.tz_localize('UTC')
m.dt.tz_convert('Asia/Dhaka').head()

0   1980-01-01 06:00:00+06:00
1   1980-02-01 06:00:00+06:00
2   1980-03-01 06:00:00+06:00
3   1980-04-01 06:00:00+06:00
4   1980-05-01 06:00:00+06:00
Name: Date, dtype: datetime64[ns, Asia/Dhaka]

In [ ]:
from pytz import all_timezones
'''for _ in all_timezones:
    print(_)'''

'for _ in all_timezones:\n    print(_)'

In [ ]:
from datetime import datetime
pd.date_range(start='Jan 15 2012', periods=1)

DatetimeIndex(['2012-01-15'], dtype='datetime64[ns]', freq='D')

In [ ]:
import pytz
pacific = pytz.timezone('Asia/Dhaka')
datetime.now(tz=pacific)

datetime.datetime(2021, 9, 27, 12, 20, 5, 15437, tzinfo=<DstTzInfo 'Asia/Dhaka' +06+6:00:00 STD>)

In [ ]:
pd.Timestamp('now')

Timestamp('2021-09-27 06:20:05.029305')

In [ ]:
s = pd.Series([10,20,30,np.nan,50], index=["a", "b", 'c', "d", "e"])
s1= pd.Series([60,70,None,90,100], index=["a", "b", 'c', "d", "f"])

In [ ]:
s=s.astype('Int64')
s.isnull()

a    False
b    False
c    False
d     True
e    False
dtype: bool

In [ ]:
df.groupby('Country').apply(lambda x: x.describe()).head()

                     Age      CompTotal  ConvertedComp  WorkWeekHrs
Country
Albania count   3.000000       3.000000       3.000000     3.000000
        mean   33.666667  174000.000000   27016.000000    46.666667
        std     6.658328  154233.589078    4336.540557    11.547005
        min    26.000000    2000.000000   23316.000000    40.000000
        25%    31.500000  111000.000000   24630.000000    40.000000

In [ ]:
pd.DatetimeIndex(temp.index).resolution

'day'

In [ ]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando",'dhaka'],
    "temperature": [21,14,35,29]
})

df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75]
})

In [ ]:
pd.merge(df1,df2, on='city', how='inner')