In [ ]:
import numpy as np
import pandas as pd
import warnings

# warnings.simplefilter("ignore")
pd.set_option("display.max_colwidth", 100)
pd.set_option("display.max_rows", 100)

In [ ]:
results_df = pd.read_csv("stack-overflow-developer-survey-2020/survey_results_public.csv", index_col='Respondent')
schema_df = pd.read_csv("stack-overflow-developer-survey-2020/survey_results_schema.csv", index_col='Column')

In [ ]:
# while loading dataset we can pass a list of na values
# df = pd.read_csv(".csv", na_values=['NA', 'Missing'])

# return dataframe of true false
results_df.isna()
# fill all the nan values
results_df.fillna('hola')

# this will delete the entire row if all values are none
# how='all' drop row if all values are mising
# how='any' drop row if one value is mising
results_df.dropna(axis='index', how='all')

# drop rows for a nan value of spacific column
results_df.dropna(axis='index', subset=['Age'])
''

''

In [ ]:
# sorting index ascending or descending order
schema_df.sort_index(ascending=True, inplace=True)

# sorting by columns
results_df.sort_values(by=['ConvertedComp', 'Age'], ascending=[True, True])[['ConvertedComp', 'Age']]

# get largest values, this only return the values of the series
# .nsmallest for smaller values
results_df['ConvertedComp'].nlargest(10)

# this filter and return new dataframe of largest values
results_df.nlargest(10, 'ConvertedComp')

''

''

In [ ]:
# indexer -- access row
# inclusive slicing
# .loc[rows, columns]
schema_df.loc['Age', 'QuestionText']

'What is your age (in years)? If you prefer not to answer, you may leave this question blank.'

In [ ]:
# rename columns

# assign a new list of column name
# schema_df.columns = ['a', 'b', 'c']

# list comprehension for apply the logic on each column name
# schema_df.columns = [x.lower() for x in schema_df.columns]

# another way
# schema_df.rename(columns={'questiontext' : 'Questiontext'}, inplace=True)

# delete columns
# results_df.drop(columns=['Hobbyist', 'Country'])

# add dataframe on a dataframe
# df.append(df2, ignore_index=True)

# delete rows from dataframe
# schema_df.drop(index='YearsCodePro')

In [ ]:
# changing value using indexer
# df.loc[2, 'Whatever'] = 'Hola'

# do the same
# df.at[2, 'Whatever'] = 'Hola'

# append row
df.loc[len(df.index)] = ['col1', ['col2']]

In [ ]:
# formated like this Objective-C;Python;Swift
# value combination of language ; seperated. we can't only search Python
# give the utility of indexer
# results_df.loc[(results_df['LanguageWorkedWith'] == 'Python')]

# this filter do the actual thing
python_flt = results_df['LanguageWorkedWith'].str.contains('Python', na=False)
# assign the new dataframe
results_df = results_df.loc[python_flt]

In [ ]:
# list of countries want to filter
countries = ['United States', 'India', 'Germany', 'Canada', 'United Kingdom', 'Bangladesh']

# apply the list of countries in filter
country_flt = results_df['Country'].isin(countries)

# apply the filtered mask in dataframe
results_df.loc[country_flt, ['Country', 'ConvertedComp', 'Age']]

# create a new dataframe of filtered results
country_df = results_df.loc[country_flt]

In [ ]:
# percentage of python developer for different country
country_grp = country_df.groupby('Country')
# country_df['LanguageWorkedWith'].value_counts(normalize=True, dropna=True)
total_py_dev = country_grp['Country'].value_counts().sum()
country_grp['Country'].value_counts().apply(lambda x : (x/total_py_dev)*100)
''

''

In [ ]:
# group
# split all the different values into group
# return groupby object of Employment
emp_grp = country_df.groupby('Employment')

# return dataframe of group element
emp_grp.get_group('Employed full-time')

# select a column of groupby object
emp_grp['Country'].value_counts().head(6)

# see the results for every country only for Student
emp_grp['Country'].value_counts().loc['Student']
''

''

In [ ]:
# apply()
# if it runs on a series apply to all value
def update_country(country):
    return country.lower()

results_df['Country'].apply(update_country)

# using lambda function
results_df['Country'].apply(lambda x: x.lower())

# if it runs on a dataframe apply to each row or column
# it apply to all columns
results_df.apply(len, axis='rows')

# it apply to each rows
results_df.apply(len, axis='columns')


# map()
# schema_df.map(len)

# if we don't change a value it will replace it as nan
results_df['Hobbyist'].map({'Yes':True, 'No':False}, na_action=None)


# replace()
# if we don't change a value it will remain as it is
schema_df.replace({
    'What is your age (in years)? If you prefer not to answer, you may leave this question blank.' : '111',
    'At what age did you write your first line of code or program? (e.g., webpage, Hello World, Scratch project)' : '222'
})
''

''

In [ ]:
# adding columns
# each split results assign on a new columns
results_df['WebframeDesireNextYear'].str.split(';', expand=True)

# add new column for each split result
# df[['col1', 'col2']] should have same number of splitted column
# df[['col1', 'col2']] = results_df['WebframeDesireNextYear'].str.split(';', expand=True)

# append row
#df.loc[len(df.index)] = ['col1', 'col2']

# add dataframe
#df = df._append(df_temp, ignore_index=True)
''

''

In [ ]:
# unique values
results_df['YearsCode'].value_counts().sort_values(ascending=True)

# normalize=True gives the %
results_df['YearsCode'].value_counts(normalize=True)

# numpy.unique() returns all unique values of a column
results_df['YearsCode'].unique()
''

''

In [ ]:
# check for dataframe equality
results_df.equals(schema_df)

# memory usages
# results_df.info(memory_usage='deep')

False

In [ ]:
# save dataframe to csv
# results_df.to_csv('new.csv', sep=',')
# create new file and compressed in zip
# results_df.to_csv('new.csv.zip')

# excel
# libraries needed
# xlwt, older xls excel format
# openpyxl, newer xlsx excel format
# xlrd, read excel file

# results_df.to_excel('new.xlsx')